{% extends 'base.html' %} {% block content %}
<a href="{% url 'movies:new' %}">리뷰작성</a>
<table class="table">
    <thead>
        <tr>
            <th scope="col">리뷰번호</th>
            <th scope="col">리뷰제목</th>
            <th scope="col">작성시간</th>
        </tr>
    </thead>
    <tbody>
        {% for movie in movies %}
        <tr>
            <td>{{ movie.id }}</td>
            <td>
                <a href="{% url 'movies:detail' movie.id %}"
                    >{{ movie.title }}</a
                >
            </td>
            <td>{{ movie.created_at }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock content %}
